@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Noto+Serif+Hebrew&display=swap');

body {
  margin: 0;
  font-family: 'Neuton', serif;
  font-family: 'Noto Serif Hebrew', serif;
  background-color: #f7fafc;
}
.ant-btn-primary{
  background-color: #1677ff;
}

.menu-link .anticon{
  display: flex;
  justify-content: center;
}

.scrollable-page {
  height: 500px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  body{
    overflow: hidden;
  }
  
  .categories::-webkit-scrollbar{
    display: none;
  }
}